/*=======CSS reset start=======*/
body{font-family:"microsoft yahei";}
html,body{height: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0; font-size:1em;color: #333;}
input{border:none;}
i{font-style: normal;}
input[type="button"]{cursor: pointer;}
input[type="text"]{vertical-align: middle;}
input[type="radio"], input[type="checkbox"],input[type="button"], label,select{vertical-align: middle;font-family:"microsoft yahei";}
input[type="button"]{-webkit-appearance:none;}
table{border-collapse:collapse; border-spacing:0; font-family:"microsoft yahei";}
fieldset,img{border:none;vertical-align: middle;}
address,caption,cite,code,dfn,em,var{font-style:normal; font-weight:normal;}
ol,ul,li{list-style-type :none;}
caption{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
a{text-decoration:none; color:#3b9bd2;-webkit-tap-highlight-color:rgba(255,255,255,0);}
*:not(input,textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
input[type=radio],.input[type=checkbox]{
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}
/*a:hover{color: #ff7200;}*/
h1,h2,h3,h4,h5{font-weight: normal;}
b{font-weight: normal;}
textarea{resize: none;font-family:"microsoft yahei";}
s{text-decoration: none;}
/*=======CSS reset end=======*/
.mb20{margin-bottom: 20px;}
.fb{font-weight:bold;}
.fn{font-weight:normal;}

.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
/*=======鏂囧瓧鎺掔増 end======*/
.overh{overflow: hidden;}
.mt20{margin-top: 20px;}
/*===========鏂囧瓧棰滆壊 end==========*/
.hideObj{display: none !important;}
.mr10{margin-right: 10px;}
.showObj{display: block;}
.fl{float: left;display: inline;}
.fr{float: right;display: inline;}
.w1200{width: 1200px;margin-left: auto;margin-right: auto;min-width: 1200px;}
.clearfix::after{content: "";display: block;clear: both;}
